body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #D5E1EF;
}

.container {
    width: 320px;
    height: 499px;
    background: #fff;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
}

.card-img {
    width: 100%;
    border-radius: 15px;
}

.card-title {
    font-size: 22px;
    color: #1F314F;
    margin-bottom: 10px;
    line-height: 120%;
    font-weight: 700;
}

.card-desc {
    font-size: 15px;
    color: #68778D;
    letter-spacing: 0.2px;
    line-height: 140%;
    font-weight: 400;
}
