:root {
    --main-bg-color: #F4D04E;
    --container-width-small: 20.4375rem; /* 327px */
    --container-height-small: 31.3125rem; /* 501px */
    --container-width-medium: 24rem; /* 384px */
    --container-height-medium: 32.625rem; /* 522px */
    --font-12: 12px;
    --font-14: 14px;
    --font-20: 20px;
    --color-gray-950: #111111;
    --color-gray-500: #6B6B6B;
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--main-bg-color);
}

.container {
    background: #fff;
    border-radius: 24px;
    width: var(--container-width-small);
    height: auto;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 24px;
    border: 1px solid #000;
    border-radius: 24px;
    padding: 24px;
    height: 100%;
}

.card__img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 24px;
}

.card__details {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.card__tag {
    background: var(--main-bg-color);
    padding: 4px 12px;
    width: fit-content;
    font-size: var(--font-12);
    font-weight: 800;
    color: var(--color-gray-950);
    border-radius: 4px;
}

.card__date {
    font-size: var(--font-12);
    color: var(--color-gray-950);
    font-weight: 500;
}

.card__title {
    font-size: var(--font-20);
    color: var(--color-gray-950);
    font-weight: 800;
    cursor: pointer;
}

.card__title:hover {
    
    color: var(--main-bg-color)
}

.card__description {
    font-size: var(--font-14);
    color: var(--color-gray-500);
    font-weight: 500;
}

.card__author {
    display: flex;
    align-items: center;
    gap: 12px;
}

.card__author-image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.card__author-name {
    font-size: var(--font-12);
    font-weight: 800;
}

@media (min-width: 768px) {
    .container {
        width: var(--container-width-medium); /* Match the Figma design width */
        height: var(--container-height-medium); /* Match the Figma design height */
    }
}